<div class="statistics-pane github">
    {{#with data}}
        <div class="statistic-container">
            <div class="statistic"><div class="top">{{watchers}}</div><div class="bottom">watchers</div></div>
            <div class="statistic"><div class="top">{{issues}}</div><div class="bottom">issues</div></div>
            <div class="statistic"><div class="top">{{forks}}</div><div class="bottom">forks</div></div>
        </div>
    {{/with}}
    <div class="clearfix"> </div>
</div>
<div class="description">
  <div class="sub-name">Repo: <a href="http://github.com/okfn/{{repo}}">{{repo}}</a></div>
</div>
