<div class="statistic-container">
    <div class="twitter statistic"><div class="top">{{followers}}</div><div class="bottom">followers</div></div>
    <div class="twitter statistic"><div class="top">{{following}}</div><div class="bottom">following</div></div>
    <div class="twitter statistic"><div class="top">{{tweets}}</div><div class="bottom">tweets</div></div>
</div>
<div class="clearfix"> </div>
<div class="twitter description">
<span class="name">{{name}}</span>
<span class="screen_name">(<a href="http://twitter.com/{{screen_name}}">@{{screen_name}}</a>)</span>:
<span class="description">"{{description}}"</span>
</div>
