<div class="statistics-pane twitter">
    <div class="statistic-container">
        <div class="statistic"><div class="top">{{followers}}</div><div class="bottom">followers</div></div>
        <div class="statistic"><div class="top">{{following}}</div><div class="bottom">following</div></div>
        <div class="statistic"><div class="top">{{tweets}}</div><div class="bottom">tweets</div></div>
    </div>
    <div class="clearfix"> </div>
    <div class="description">
    <span class="name">{{name}}</span>
    <span class="sub-name">(<a href="http://twitter.com/{{screen_name}}">@{{screen_name}}</a>)</span>:
    <span class="content">"{{description}}"</span>
    </div>
</div>
