{{#if active}}
{{#with project}}
<div class="span9">
    <h2>{{title}}</h2>
    <div class="row">
        <div class="span5">
            <div class="pane label-pane">
                <label>Mailing Lists</label>
                <ul class="nav nav-tabs" id="mailman-nav">
                    <li action="posts"><a href="#">Posts</a></li>
                    <li action="subscribers"><a href="#">Subscribers</a></li>
                    <li action="activity"><a href="#">Activity</a></li>
                    <li action="details"><a href="#">Details</a></li>
                </ul>
                <div id="pane-mailman" style="min-height: 220px;"></div>
            </div>
        </div>
        <div class="span4">
            <div class="well">
                <h3>Github</h3>
                <ul>{{#each github}}<li>{{this}}</li>{{/each}}</ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span4">
            <div class="well">
                <h3>People</h3>
                <ul>{{#each people}}<li>{{this}}</li>{{/each}}</ul>
            </div>
        </div>
        <div class="span5">
            <h3>Activity</h3>
            <div class="activity-stream" style="min-height:200px;"></div>
        </div>
    </div>
    <div class="row" style="margin-top: 40px;">
        <div class="well">
            <strong>Description: </strong>{{description}}
            <ul>{{#each link}}<li><a href="{{this}}">{{this}}</a></li>{{/each}}</ul>
        </div>
    </div>
</div>
{{/with}}
{{else}}
<div class="span9">
    <h2>Select a project...</h2>
</div>
{{/if}}
