{{#if active}}
{{#with project}}
<div class="span9">
    <h2>{{title}}</h2>
    <div class="row">
        <div class="span5">
            <div class="pane label-pane">
                <label>Mailing Lists</label>
                <ul class="nav nav-tabs" id="mailman-nav">
                    <li action="posts"><a href="#">Posts</a></li>
                    <li action="subscribers"><a href="#">Subscribers</a></li>
                    <li action="activity"><a href="#">Activity</a></li>
                    <li action="details"><a href="#">Details</a></li>
                </ul>
                <div id="pane-mailman"></div>
            </div>
        </div>
        <div class="span4">
            <div class="pane label-pane">
                <label>Github</label>
                <ul class="nav nav-tabs" id="github-nav">
                    <li class="dropdown">
                    <a class="dropdown-toggle"
                        data-toggle="dropdown"
                        href="#">
                        Graph
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li action="watchers"><a href="#">Watchers</a></li>
                        <li action="size"><a href="#">Size</a></li>
                        <li action="issues"><a href="#">Issues</a></li>
                        <li action="forks"><a href="#">Forks</a></li>
                    </ul>
                    <li action="activity"><a href="#">Activity</a></li>
                    <li action="details"><a href="#">Details</a></li>
                </ul>
                <div id="pane-github"></div>
            </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span4">
            <div class="pane label-pane">
                <label>Recent Events</label>
                <div id="pane-activity"><code>TODO</code> AJAX load stream</div>
            </div>
        </div>
        <div class="span5">
            <div class="pane label-pane">
                <label>People</label>
                <ul class="nav nav-tabs" id="people-nav">
                    <li action="details"><a href="#">Details</a></li>
                    <li action="activity"><a href="#">Activity</a></li>
                </ul>
                <div id="pane-people"></div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 40px;">
        <div class="span8 offset4">
            <div class="well">
                <strong>Description: </strong>{{description}}
                <ul>{{#each link}}<li><a href="{{this}}">{{this}}</a></li>{{/each}}</ul>
            </div>
        </div>
    </div>
</div>
{{/with}}
{{else}}
<div class="span9">
    <h2>Select a project...</h2>
</div>
{{/if}}
