<div style="margin-bottom: 4px;">
  <strong><a href="{{html_url}}">{{full_name}}</a></strong>:
  {{description}}
  <ul>
    <li><strong>Language: </strong>{{language}}</li>
    <li><strong>Fork: </strong>{{fork}}</li>
    <li><strong>Homepage: </strong><a href="{{homepage}}">{{homepage}}</a></li>
    <li><strong>Created: </strong>{{created_at}}</li>
  </ul>
</div>

